.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active {
    opacity: 1;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    background-color: var(--rosa-medio);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-close {
    position: absolute;
    display: block;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover {
    background-color: var(--rosa-escuro);
}

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-field {
    width: calc(50% - 10px);
    height: 40px;
    outline-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
}

.modal-field:focus {
    border: 2px solid var(--rosa-medio);
    box-shadow: 0 0 3px var(--rosa-medio);
}

.modal-footer {
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

/* Dark Mode */
.tema-escuro .modal-content {
    background-color: #16213e;
    color: var(--texto-escuro);
}

.tema-escuro .modal-header {
    background-color: var(--rosa-escuro);
}

.tema-escuro .modal-field {
    background-color: #2a3a5a;
    color: var(--texto-escuro);
    border-color: var(--azul-medio);
}

@media (max-width: 480px) {
    .modal {
        top: 100%;
        transition: all 1s ease;
    }
    .modal.active {
        top: 0;
    }
    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }
    .modal-field {
        width: 100%;
    }
}