.rodape {
    background-color: var(--azul-medio); /* Azul médio */
  color: white;
  padding: 1rem 0;
  text-align: center;
  margin: 0;        
  width: 100vw;      
  position: relative;/* Garante que fique no fluxo normal */
  left: 50%;         /* Corrige o deslocamento causado pelo 100vw */
  right: 50%;
  transform: translateX(-50%);
}

.rodape a {
    color: var(--dourado);
    text-decoration: none;
}

.rodape a:hover {
    color: var(--rosa-medio);
    text-decoration: underline;
}

.botao-topo {
    margin-left: 1rem;
}

/* Dark Mode */
.tema-escuro .rodape {
    background-color: var(--azul-escuro);
}